
.nav{
    height: 8rem;   
    min-width: 1000px;
    background-color: rgb(0, 59, 148);
    color:#fff;
    border: 3px solid #4400ff;
    flex-wrap: wrap;
    
}

nav a{
    text-transform: uppercase;

}

nav li{
    float: left;
    display: inline;
    margin: 0rem 0.5rem ;
    font-weight: 500;
    font-size: 3.5rem;
}

nav .right{
    float: left;
    margin: 2rem;
    
}


nav ul li Link.active{
    color: rgb(255, 238, 0);
}

nav ul li Link:hover{
    color: rgb(238, 255, 2);
    font-weight: 700;
}




.right{
    margin-top: 2rem;
    text-align: justify;
}

.brand-logo{
    margin-top: 2rem;
    text-align: justify;
    text-transform: uppercase;
    align-items: center;
}